@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  transition: all 0.2s ease-in-out;
  line-height: 2.5rem !important; /* 24px */
}

a,
.green {
}




  .inner-container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .inner-container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .inner-container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .inner-container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .inner-container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .inner-container {
      max-width: 1536px;
    }
  }


@media (min-width: 1024px) {
}


