@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  transition: all 0.2s ease-in-out;
  line-height: var(--line-height) !important; /* 24px */
}

h1,
h2,
h3,
h4 {
  line-height: var(--heading-line-height) !important; /* 24px */
  font-family: var(--font-family) !important; /* "Inter", sans-serif */
}

p {
  line-height: var(--paragraph-line-height) !important; /* 24px */
  font-family: var(--font-family) !important; /* "Inter", sans-serif */
}

h1 {
  font-size: 5rem !important; /* 64px */
  @media screen and (min-width: 768px) {
    font-size: 2.6rem !important; /* 80px */
  }
  @media screen and (min-width: 1024px) {
    font-size: 4rem !important; /* 96px */
  }
}
h2 {
  font-size: 2.5rem;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 1.5rem;
  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2.25rem;
  }
}

p {
  font-size: 1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 1.2rem;
  }
}
